
h1, h2, p {
    color: black;
    font-family: sans-serif;
    width:80%
}

button {
    color: white;
    background-color:#BB2026;
    font-size: 16px;
    border: 0px;
    padding: 10px;
    height: auto;
}

/*
#image-container {
    background: url('https://bl6pap003files.storage.live.com/y4mmITb3UQMtRH5_HVg3xPXPjIpV6swUZExIL-3mGIIlyspOhdVgpDK4o7rbRcmxLUEs1VuyQLRe9YDOYaqlTLQXra_nzzAwEhXRGixcvLgshTgKwQygS3GsPUfFcrzqXQmgmm5WJmQqMRgwmvrFwjgxa77yDfjBPxtRQFxyGW3dBhTXVl9XFnP3tWd34vk33bB?width=884&height=456&cropmode=none');
    background-position: center;
    padding: 200px;
}
*/

#image-container {
    background-image: url('/images/red62.jpg'); 
    background-repeat: no-repeat;
    padding: 50px;
    max-height: 100%;
    max-width: 100%;
    background-position: center;
}

/*
#image-container {
    background-image: url('/images/greenShoot3x12.jpg'); 
    background-position: center;
    background-repeat: no-repeat;
    padding: 50px;
    max-height: 100%;
    max-width: 100%;
    background-position: right;
}
*/
span {
    font:bolder;
    color: green;
}

#proficiencies {
    background-color: lightgray;
    padding: 10px;
    margin-top: 10px;
    /*text-align: center;*/

}

#work-examples {
    border: 3px solid black;
    padding: 10px;
    margin-top: 10px;
}

.italics{
    font: italic;
}

.grey-background-1 {
    background-color: rgb(190, 192, 194);
    padding: 10px;
}

.grey-alternate {
    padding: 10px;
}