
h1, h2, h3, h4, p, li {
    color: black;
    font-family: sans-serif;
    width:80%
}

#work-samples {
    background-color: black;
    color:rgb(190, 192, 194);
    padding: 10px;
    display: flex;
    justify-content: center;
}

button {
    color: white;
    background-color:#BB2026;
    font-size: 16px;
    /* border: 0px; */
    padding: 10px;
    height: auto;
}

#image-container {
    background-image: url('images/red62.jpg'); 
    background-repeat: no-repeat;
    padding: 50px;
    max-height: 100%;
    max-width: 100%;
    background-position: right;
    box-shadow: 3px 3px 10px;
}

span {
    font:bolder;
    color: green;
}

#proficiencies {
    background-color: lightgray;
    padding: 10px;
    margin-top: 10px;
    box-shadow: 3px 3px 10px;
}
#proficiencies:hover{
    background-color: antiquewhite;
}



#work-examples {
    border: 3px solid black;
    padding: 10px;
    margin-top: 10px;
    box-shadow: 3px 3px 10px;
    display: flex; 
    justify-content: space-evenly;
    align-self: center;
    flex-wrap: wrap;
}

#work-examples:hover{
    border: 5px solid rgb(243, 12, 12);
}

.italics{
    font: italic;
}

.grey-background-1 {
    background-color: rgb(190, 192, 194);
    margin: 5px;
    box-shadow: 3px 3px 10px;
    border: none;
    padding: 15px;
    height: 300px;
    width: 225px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    
}
.grey-background-1:hover{
    border: 3px solid black;
}

.grey-alternate {
    margin: 5px;
    box-shadow: 3px 3px 10px;
    border: none;
    padding: 15px;
    height: 300px;    
    width: 225px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: space-around;
}

.grey-alternate:hover{
    border: 3px solid black;
}
#lambda {
    margin: 10px;
    border: none;
    padding: 10px;
    height: 50px;
    
    
  }